/* Coolors Exported Palette - coolors.co/080705-b10f2e-c5cbd3-40434e-7c1d11 */

/* HSL */
$colDark: hsla(40%, 23%, 3%, 1);
$colLight: hsla(214%, 14%, 90%, 1);
$colBright:hsla(148, 0%, 100%, 1);
$colGrey: hsla(227%, 10%, 28%, 1);
$colRed1: hsla(7%, 76%, 28%, 1);
$colRed2: hsla(349%, 84%, 38%, 1);

$colLime1: hsla(159%, 75%, 65%, 1);
$color2: hsla(240%, 14%, 97%, 1);
$color3: hsla(240%, 3%, 85%, 1);
$color4: hsla(224%, 12%, 57%, 1);
$color5: hsla(215%, 29%, 26%, 1);

/* RGB */
// $color1: rgba(8, 7, 5, 1);
// $color2: rgba(177, 15, 46, 1);
// $color3: rgba(197, 203, 211, 1);
// $color4: rgba(64, 67, 78, 1);
// $color5: rgba(124, 29, 17, 1);