@import 'colors','mixins';
// --------- MENU -------
// based on this codepen
// http://codepen.io/andreasstorm/pen/lriga
// by http://codepen.io/andreasstorm/
header {
    height: 5em;
    // padding-top: 40px;
}

.inner {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px 20px;
    position: relative;
}

.logo {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 30px;
    line-height: 40px;
}
nav > ul {
    // float: right;
    max-width:800px;
}

nav > ul > li {
    text-size:40px;
    text-align: center;
    line-height: 40px;
    margin-left: 0.5em;
  [class^="icon-"], [class*=" icon-"] {
    height: 30px;
    width: 30px;
    position:relative;
    top:10px;

  }
}

nav > ul li ul li {
    width: 100%;
    text-align: left;
}

nav ul li:hover {
    cursor: pointer;
    position: relative;
}
nav ul li:hover > ul {
    display: block;
}
nav ul li:hover > a {
    // color: #777;
}
nav > ul > li > a {
    cursor: pointer;
    display: block;
    outline: none;
    width: 100%;
    text-decoration: none;
}

nav > ul > li {
    float: left;
    list-style:none;

}
// nav a {
//     color: white;
// }
nav > ul li ul {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    z-index: 2000;
}
nav > ul li ul li > a {
    text-decoration: none;
}

[type="checkbox"], label {
    display: none;
}

@media screen and (max-width: 800px) {
  nav ul {
      display: none;
      padding:0;
  }

  label {
      display: block;
      background: #222;
      width: 40px;
      height: 40px;
      cursor: pointer;
      position: absolute;
      right: 0px;
      top: 0px;
      @include rounded(0,0,0,5px);
  }

label:after{
  content:'';
  display: block;
  width: 30px;
  height: 5px;
  background: $colLinks;
  margin: 7px 5px;
  box-shadow: 0px 10px 0px $colLinks, 0px 20px 0px $colLinks
}

  [type="checkbox"]:checked ~ ul {
      display: block;
      z-index: 9999;
      position: absolute;
      right: -20px;
      left: -20px;
      top:20px;
  }

  nav a {
      color: #777;
  }

  nav ul li {
      display: block;
      float: none;
      width: 100%;
      text-align: left;
      background: #222;
      text-indent: 40px;
  }

  nav > ul > li {
      margin-left: 0px;
  }

  nav > ul li ul li {
      display: block;
      float: none;
      list-style:none;
  }

  nav > ul li ul {
      display: block;
      position: relative;
      width: 100%;
      z-index: 9999;
      float: none;
  }
}
