// ----- Type scale --------
// http://type-scale.com/?size=18&scale=1.200&text=A%20Visual%20Type%20Scale&webfont=Vollkorn&font-family=%27Vollkorn%27%2C%20serif&font-weight=400&font-family-headers=&font-weight-headers=inherit&background-color=white&font-color=%23333
html {
  font-size: 1.125em;
}
body {
  // background-color: white;
  font-family:'vollkornregular', 'Georgia', serif;
  font-weight: 400;
  line-height: 1.45;
  // color: #333;
}
h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}
h1 {
  margin-top: 0;
  font-size: 2.074em;
}
h2 {
  font-size: 1.728em;
}
h3 {
  font-size: 1.44em;
}
h4 {
  font-size: 1.2em;
}
small, .font_small {
  font-size: 0.833em;
}
// -------- End of Type scale --------