/* Coolors Exported Palette - coolors.co/080705-b10f2e-c5cbd3-40434e-7c1d11 */

/* HSL */
$color1: hsla(40%, 23%, 3%, 1);
$color2: hsla(349%, 84%, 38%, 1);
$color3: hsla(214%, 14%, 80%, 1);
$color4: hsla(227%, 10%, 28%, 1);
$color5: hsla(7%, 76%, 28%, 1);

/* RGB */
$color1: rgba(8, 7, 5, 1);
$color2: rgba(177, 15, 46, 1);
$color3: rgba(197, 203, 211, 1);
$color4: rgba(64, 67, 78, 1);
$color5: rgba(124, 29, 17, 1);