RewriteEngine On

RewriteCond %{THE_REQUEST} ^(?:GET|POST)\ /+(.+?/?)_site/([^\?\ ]*)
RewriteRule ^ /%1%2 [L,R]

RewriteCond $1 !^_site
RewriteRule ^(.*)$ _site/$1 [L]

#RewriteEngine On
#Options +FollowSymLinks
#RewriteEngine On
#RewriteCond %{HTTP_HOST} ^interface.fh-potsdam.de/gestalten-in-code
#RewriteCond %{HTTP_HOST} !_site
#RewriteRule ^(.*) https://interface.fh-potsdam.de/gestalten-in-code/_site/$1 [P]

#RewriteRule ^/gestalten-in-code/?$ $1/gestalten-in-code/_site$2 [R=301,L]
#RewriteRule ^/?gestalten-in-code/(.*)$ /gestalten-in-code/_site/$1 [R,L]
#RewriteCond %{HTTP_HOST} ^(www.)?interface.fh-potsdam.de/gestalten-in-code$

# Change 'SUBFOLDERPATH' to be the path to the folder you will use for your main domain. For instance: /jekyll/fabiantheblind.github.com/_site

#RewriteCond %{REQUEST_URI} !^/_site/

# Don't change the lines below.

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d

# Change 'SUBFOLDERPATH' to be the path to the folder you will use for your main domain.

#RewriteRule ^(.*)$ /_site/$1

# Change interface.fh-potsdam.de/gestalten-in-code/ to be your main domain.
# Change 'SUBFOLDERPATH' to be the path to the folder you will use for your main domain.
# Followed by / then the main file for your site, index.html, index.php, etc.

#RewriteCond %{HTTP_HOST} ^(www.)?interface.fh-potsdam.de/gestalten-in-code$
#RewriteRule ^(/)?$ _site/index.html [L]




