
<div class="index-overview">
{% for page in site.pages %}{% if page.meta == nil  %}{% for tag in page.tags %}{% if tag == include.param %}
<div class="thumb thumb-noblock">
<a href="{{ page.permalink | prepend: site.baseurl }}"><img src="{{site.baseurl}}/{{ page.path | replace:'index.md','' }}thumb.png">
<div class="thumb-title"><small>{{page.title | truncate: 10,'…' | append: ' →'}}</small></div>
</a>
<div class="clear-float"></div>
</div>
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
</div>
<div class="clear-float"></div>