<header>
<div class="inner">

  <nav>
    <a href="{{ site.baseurl }}" class="logo"></a>
      <input type="checkbox" id="nav" />
      <label for="nav"></label>
  <a href="#" id="menu-icon"></a>
    <ul id="menu-list">
      {% for item in site.data.menu %}
        <li class="menu-item"><a href="{{site.baseurl}}{{item.url}}">{{item.title}}</a></li>{% comment %}{% if item.sub != nil %}
          <ul>{% for sub in item.sub %}
              <li class="menu-item"><a href="{{site.baseurl}}{{sub.url}}">{{sub.title}}</a></li>{% endfor %}
          </ul>
        {% endif %}{% endcomment %}{% endfor %}
    </ul>
  </nav>
</div>
</header>