---
---
@import 'colors', 'fonts', 'syntax';

// ----- Type scale --------
// http://type-scale.com/?size=18&scale=1.200&text=A%20Visual%20Type%20Scale&webfont=Vollkorn&font-family=%27Vollkorn%27%2C%20serif&font-weight=400&font-family-headers=&font-weight-headers=inherit&background-color=white&font-color=%23333
html {
  font-size: 1.125em;
}
body {
  // background-color: white;
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  line-height: 1.45;
  // color: #333;
}
p {
  margin-bottom: 1.3em;
}
h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}
h1 {
  margin-top: 0;
  font-size: 2.074em;
}
h2 {
  font-size: 1.728em;
}
h3 {
  font-size: 1.44em;
}
h4 {
  font-size: 1.2em;
}
small, .font_small {
  font-size: 0.833em;
}
// -------- End of Type scale --------
body {
  margin: 0 auto;
  max-width: 50em;
  color: $colDark;
  background: $colBright;
  padding: 0em 1em;
  // padding-top: 2rem;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, strong {
  color: $colGrey;
}
.highlighter-rouge {
  width: 100%;
}
em{
  font-family:'vollkornitalic';
}

strong{
  font-family:'vollkornbold';
}
strong em, em strong{
  font-family:'vollkornbold_italic';
}
pre, code {
  font-family: monospace;
}
pre {
  background: #F1F1F1 !important;
   white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */

}
pre {
  padding: 1rem;
  border-bottom: 1px solid $colRed2;
  border-left: 2px solid $colGrey;
}
code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}
a {
  color: $colRed1;
  text-decoration: none;
}
blockquote {
  font-style: italic;
  margin: 1rem;
  font-size: 1.44em;
}
// header {
//   border-bottom: 1px solid $colGrey;
// }
footer {
  border-top: 1px solid $colGrey;
  // width: 100vw;
}
// #logo{
//   max-width:32px;
// }
#tag-list {
  text-align: center;
}
.tag,{
  display: inline-block;
  text-align: center;
  a {
  }
}

// .menu-item{
//   padding: 0 10px;
// }

// out.html in includes

.img-container{
  padding: 2em 2em;
  max-width:100%;
  text-align:center;
  img{
    margin: 0 auto;
    display:block;
    max-width:100%;
  }
}
// media queries

.block{
  min-height:64px;
  overflow:hidden;
  .thumb{
    float: left;
    padding: 0 1em;
    img{


    }
  }
}


* {
    box-sizing: border-box;
}

// --------- MENU -------
header {
    height: 5em;
    // padding-top: 40px;
}

.inner {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px 20px;
    position: relative;
}

.logo {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 30px;
    line-height: 40px;
}
nav > ul {
    // float: right;
}

nav > ul > li {
    text-align: center;
    line-height: 40px;
    margin-left: 1em;
}

nav > ul li ul li {
    width: 100%;
    text-align: left;
}

nav ul li:hover {
    cursor: pointer;
    position: relative;
}
nav ul li:hover > ul {
    display: block;
}
nav ul li:hover > a {
    // color: #777;
}
nav > ul > li > a {
    cursor: pointer;
    display: block;
    outline: none;
    width: 100%;
    text-decoration: none;
}

nav > ul > li {
    float: left;
    list-style:none;

}
// nav a {
//     color: white;
// }
nav > ul li ul {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    z-index: 2000;
}
nav > ul li ul li > a {
    text-decoration: none;
}

[type="checkbox"], label {
    display: none;
}

@media screen and (max-width: 768px) {
  nav ul {
      display: none;
      padding:0;
  }

  label {
      display: block;
      background: #222;
      width: 40px;
      height: 40px;
      cursor: pointer;
      position: absolute;
      right: -20px;
      top: 0px;
  }

label:after{
  content:'';
  display: block;
  width: 30px;
  height: 5px;
  background: #777;
  margin: 7px 5px;
  box-shadow: 0px 10px 0px #777, 0px 20px 0px #777
}

  [type="checkbox"]:checked ~ ul {
      display: block;
      z-index: 9999;
      position: absolute;
      right: -20px;
      left: -20px;
      top:20px;
  }

  nav a {
      color: #777;
  }

  nav ul li {
      display: block;
      float: none;
      width: 100%;
      text-align: left;
      background: #222;
      text-indent: 20px;
  }

  nav > ul > li {
      margin-left: 0px;
  }

  nav > ul li ul li {
      display: block;
      float: none;
  }

  nav > ul li ul {
      display: block;
      position: relative;
      width: 100%;
      z-index: 9999;
      float: none;
  }
}

// ------------- p5js -------------

#sketch{
  width:100%;
  text-align:center;
}
@media only screen
and (max-device-width : 450px)
and (orientation : portrait) {
/* STYLES GO HERE */
  blockquote{
    font-size:1.120em;
    margin:0.2em;
  }
  figure{
    margin:0.2em;

  }
  pre{
    overflow-x:scroll;
  }
  html{
    // font-size:1em;
  }
}